{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>RGraph Version 2</title>
    <meta http-equiv="X-UA-Compatible" content="edge"/>
</head>
<body>

<div id="canvas">
</div>

<style type="text/css">
html,body,#canvas{margin:0px;padding:0px;height:100%; overflow:hidden; font-size:12px;}
    #canvas{position:relative;z-index:1;/*width:600px;height:400px;left:200px;top:100px;*/}
</style>

<script type="text/javascript" src="{% static 'javascript/raphael-min.js' %}"></script> 
<script type="text/javascript" src="{% static 'javascript/rgraph2.js' %}"></script>
<script type="text/javascript">
window.onload = function(){
    graph = new RGraph("canvas",{
        onnodeclick:function(e,node){
            alert(node.nodeId);
        },
        onnodemouseover:function(e,node){
            //console.log(node.nodeId +" mouse over");
        },
        onnodemouseout:function(e,node){
            //console.log(node.nodeId +" mouse out");
        }
    });

    graph.loadData({
        nodes:{
            "1":{label:"{name}\n{type}",name:"节点1",type:"任务"},
            "2":{label:"节点2",rectStyle:{fill:"#616130",stroke:"#616130"},textStyle:{fill:"#fff"}},
            "3":{label:"节点3"},
            "4":{label:"节点4"},
            "5":{label:"节点5，孤独的节点"},
			"6":{label:"节点6"},
			"7":{label:"节点7"},
			"8":{label:"节点8"},
			"9":{label:"节点9"},
			"10":{label:"节点10"},
			"11":{label:"节点11"},
			"12":{label:"节点12"},
			"13":{label:"节点13",rectStyle:{fill:"#616130",stroke:"#616130"},textStyle:{fill:"#000"}},
			"14":{label:"节点14"}
        },
        edges:[
            {source:"1",target:"2",label:"1->2"},
            {source:"1",target:"3",label:"1->3"},
            {source:"2",target:"3",label:"2->3"},
            {source:"4",target:"2",label:"4->2",arrowStyle:{fill:"#ab4",stroke:"#ab4"}},
			{source:"1",target:"6",label:"1->6"},
			{source:"1",target:"7",label:"1->7"},
			{source:"1",target:"8",label:"1->8"},
			{source:"1",target:"9",label:"1->9"},
			{source:"1",target:"10",label:"1->10"},
			{source:"1",target:"11",label:"1->11"},
			{source:"1",target:"12",label:"1->12"},
			{source:"1",target:"13",label:"1->13"},
			{source:"4",target:"14",label:"4->14",arrowStyle:{fill:"#005AB5",stroke:"#005AB5"}}
        ]
    });

    graph.center("1");


    var maxNode = 100;
    addNode=function (){
        graph.addNode({
            nodeId:maxNode,
            label:"我是节点"+maxNode
        });
        graph.addEdge({
            source:maxNode,
            target:"1",
            label:maxNode+"->1"
        });
        maxNode++;
    }

    updateNode=function (){
        var node = graph.getNode("1");
        node.label="{name}\n{type}\n新行";
        graph.updateNode("1");
    }


    removeNode=function (){
        graph.removeNode("3");
    }

    relayout = function(){
        graph.relayout();
        graph.center("1");
    }
}
</script>

</body>
</html>
